<aside class="right-sidebar">
  <section class="flex flex-col pb-8">
    <div class="profile-banner">
      <div class="profile">
        <div class="profile-img">
          <span class="text-3xl text-blue-500 font-bold">
            {{ user? user.name[0] : 'G' }}
          </span>
        </div>
        <div class="profile-details">
          <h1 class="profile-name">{{ user? user.name : '' }}</h1>
          <p class="profile-email">
            {{ user? user.email : '' }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="banks">
    <div class="flex w-full justify-between">
      <h2 class="header-2">My Banks</h2>

      <a href="/" class="flex gap-2">
        <img src="assets/icons/plus.svg" class="w-5 h-5" alt="plus" />
        <h2 class="text-14 font-semibold text-gray-600">Add Bank</h2>
      </a>
    </div>

    <div
      *ngIf="banks.length > 0; else noBanks"
      class="relative flex flex-1 flex-col items-center justify-center gap-5"
    >
      <div class="relative z-10">
        <app-bankcard
          key="banks[0].id"
          [account]="banks[0]"
          [userName]="this.user? this.user.name: ''"
          [showBalance]="false"
        >
        </app-bankcard>
      </div>

      <div *ngIf="banks[1]" class="absolute right-0 top-8 z-0 w-[90%]">
        <app-bankcard
          key="banks[1].id"
          [account]="banks[1]"
          [userName]="this.user? this.user.name : ''"
          [showBalance]="false"
        >
        </app-bankcard>
      </div>
    </div>

    <ng-template #noBanks>
      <p>No banks available.</p>
    </ng-template>
  </section>
</aside>
